/* Login page style */
.login-page-body {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login-page-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 250px;
}

.login-page-label {
  display: flex;
  flex-direction: column;
}

.login-page-fieldset {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.login-page-enter-button {
  background-color: rgba(15, 163, 107, 255);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  padding: 15px 32px;
  text-align: center;
  width: 250px;
}

.trivia-image {
  margin-bottom: 30px;
  width: 250px;
}

/* Header component style */
.header-component {
  background-color: #f2f2f2;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.player-data {
  display: flex;
}

.avatar-image {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
}

/* Gaming page style */
.question-answer-content {
  display: flex;
  margin: 30px;
}

.question-card {
  background-color: #f2f2f2;
  width: 50vw;
}

.question-category {
  background-color: #a5a5a5;
  font-size: 25px;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.question-content {
  font-size: 20px;
  margin: 15px;
}

.answers-card {
  width: 50vw;
}

.shuffled-buttons {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.answer-button {
  font-size: 20px;
  margin: 15px;
  padding: 15px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
  color: black;
  font-size: 20px;
}

.incorrect {
  border: 3px solid red;
  color: black;
  font-size: 20px;
}

/* feedback Styles */
.feedback-div {
  display: flex;
}
